<% if @user %>
 <!-- happy path, user exists --> 
  <h1><%= @user.full_name %></h1>

  <p><span>Email: </span><%= @user.email %></p>
  <p><span>Phone: </span><%= @user.phone_number %></p>

  <h3> Lists </h3>

  <ul>
    <% @user.lists.each do |list| %>
      <li><%= list.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>no user found!</p>
<% end %>